---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import logoImgUrl from '../../public/logo.png';

const scriptureText = 'What is more, I consider everything a loss because of the surpassing worth of knowing Christ Jesus my Lord, for whose sake I have lost all things. I consider them garbage, that I may gain Christ';
const scriptureRef = 'Philippians 3:8 (NIV)';
---

<Layout title="Malachi Daily | Simple Scripture Memorization, Together">
	<main class="w-screen h-full min-h-screen px-6 flex justify-center bg-gray-100">
		<div class="max-w-[600px] w-full flex flex-col py-12 gap-12">
			<!-- LOGO -->
			<div class="w-full flex gap-4 items-center">
				<Image 
					src={logoImgUrl} 
					alt="Malachi Daily Logo | shows hands praying" 
					class={`aspect-[${logoImgUrl.height}/${logoImgUrl.width}] h-[48px] w-fit`}
				/>
				<h2 class="text-3xl text-gray-800 font-bold whitespace-nowrap">Malachi Daily</h2>
			</div>

			<!-- SCRIPTURE TO MEMORIZE -->
			<section
				x-data="malachi"
				id="scripture" 
				x-init={`
					scriptureTextOriginal = '${scriptureText}';
					scriptureRef = '${scriptureRef}';
					fidelity = fidelityOfTheDay;
				`}
				class="rounded-md text-start"
			>
				<div class="bg-white p-6 rounded-xl shadow-xl">
					<h1 x-text="scriptureRef" class="text-xl font-medium mb-4 bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-700">
					</h1>
					<div class="relative" x-data="{ timeItTakesToReadVerse: 5000 }">
						<h2 
							x-html="scriptureText" 
							class="transition word-spacing-tight text-4xl max-sm:text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-700 font-source-code-pro-mono tracking-tight leading-tight"
						>
						</h2>
						<h2 
							x-init="setTimeout(() => $el.classList.add('opacity-0'), timeItTakesToReadVerse)"
							x-text="scriptureTextOriginal" 
							class="transition absolute top-0 left-0 word-spacing-tight text-4xl max-sm:text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-700 font-source-code-pro-mono tracking-tight leading-tight pointer-events-none"
						>
						</h2>
					</div>
				</div>

				<!-- Scrubbing Input -->
				<input x-model="fidelity" type="range" min="0" max="60" value="0" class="range mt-12 range-md" step="10" />
				<div class="w-full flex justify-between text-xs px-2">
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
				</div>
				<div class="w-full flex justify-between text-xs mt-1 font-mono">
					<span>Sun</span>
					<span>Mon</span>
					<span>Tue</span>
					<span>Wed</span>
					<span>Thu</span>
					<span>Fri</span>
					<span>Sat</span>
				</div>

				<!-- Toggle Show First Letter -->
				<div class="form-control w-fit mt-6">
					<label class="label cursor-pointer flex gap-2 items-center" for="show-first-letter">
						<input x-model="showFirstLetter" type="checkbox" checked="checked" class="checkbox" name="show-first-letter" id="show-first-letter"/>
					  	<span class="label-text">Show the first letter in each hidden word</span> 
					</label>
				</div>				  
			</section>

			<!-- Subscribe -->
			<iframe 
				src="https://embeds.beehiiv.com/c8ce3263-a472-44d8-a911-db5da1e572e2" 
				data-test-id="beehiiv-embed" 
				class="w-full rounded-xl"
				height="320" 
				frameborder="0" 
				scrolling="no" 
				style="margin: 0; background-color: transparent;"
				loading="lazy"
			></iframe>
		</div>
	</main>
	<script>
		import { type Alpine as AlpineType } from 'alpinejs'

		declare global {
			var Alpine: AlpineType
		}

		document.addEventListener('alpine:init', () => {
			const Alpine = window['Alpine'] || {}
			Alpine.data('malachi', () => ({
					scriptureTextOriginal: '',
					scriptureRef: '',
					// TODO fix this and make it show fidelity per day of week
					get fidelityOfTheDay() {
						// Get day of the week as a number from 0 to 6
						const dayOfWeek = new Date().getDay();
						// Turn that into a number from 0 to 6
						let dayOfWeekAsNumber = 0;
						if (dayOfWeek === 7) {
							dayOfWeekAsNumber = 0;
						} else {
							dayOfWeekAsNumber = dayOfWeek;
						}
						return dayOfWeekAsNumber * 10;	
					},
					fidelity: 0,
					showFirstLetter: true,
					get scriptureText() {
						// Replace some words from the original with underscores for each character
						// but do so where we replace more and more words as fidelity grows
						// when fideltiy is at 0, we just return the original
						// when fidelity is at 60, we return every word with underscores for each character
						const words = this.scriptureTextOriginal.split(' ');

						function convertWordToUnderscores(word: string, showFirstCharacter: boolean = false): string {
							const wordToBeReplaced = word.match(/([A-Za-z]+)/ig)?.[0] || ''
							const underscores = showFirstCharacter ? "_".repeat(wordToBeReplaced.length - 1) : "_".repeat(wordToBeReplaced.length)
							const commaOrPeriod = word.replace(wordToBeReplaced, '')
							const firstCharacter = word[0] || ''
							let wordToReturn = '';

							if (showFirstCharacter) {
								if (word.length === 1) {
									wordToReturn = firstCharacter
								} else {
									wordToReturn = firstCharacter + underscores
								}
							} else {
								wordToReturn = underscores
							}

							// return wordToReturn

							// TODO - maybe one day allow for users to type in the words
							return `
								<span 
									class="cursor-default align-bottom overflow-hidden inline-block whitespace-nowrap rounded-md focus:outline-2 focus:outline-blue-400" 
									x-data="{ originalWord: '${wordToBeReplaced}', replacedWord: '${wordToReturn}', wordToShow: '${wordToReturn}${commaOrPeriod}', commaOrPeriod: '${commaOrPeriod}' }"
									x-on:mouseover="wordToShow = originalWord + commaOrPeriod"
									x-on:mouseleave="wordToShow = replacedWord + commaOrPeriod"
									x-text="wordToShow"
								>
									${wordToReturn}
								</span>
							`;
						}

						return words
							.map((word, index) => {
								const fidelityAsNumber = Number(this.fidelity);
								
								if (fidelityAsNumber === 0) {
									return word
								}

								if (fidelityAsNumber === 60) {
									return convertWordToUnderscores(word, this.showFirstLetter)
								}

								const percentOfWordsHidden = fidelityAsNumber / 60;
								const numOfWordsToReplace = Math.round(percentOfWordsHidden * words.length)

								const indicesToReplace = []
								for (let i = 0; i < words.length; i += 1) {
									const index = Math.floor(i * words.length / numOfWordsToReplace);
    								indicesToReplace.push(index);
								}

								if (indicesToReplace.includes(index)) {
									return convertWordToUnderscores(word, this.showFirstLetter)
								}

								return word;
							})
							.join(' ');
					},
			}))
		})
	</script>
</Layout>
